body {
  background-color: AntiqueWhite
}
#navbar{
  text-decoration: none;
  list-style: none;
  background-color: pink;
  padding: 20px;
  margin: 0px;
  position: relative;
  bottom: 8px;
  width: 100%;
  right:8px;
  border: 1px solid black
}
li {
  display: inline;
  margin: 20px;
  font-size: 24px;
  color: gold;
  text-decoration: none;
}
a {
  color: gold;
  text-decoration: none;
}
#WickedLi {
  position: relative;
  left: 500px

}
#IntroLi{
  position: relative;
  left: 450px
}

#AnastasiaLi{
  position: relative;
  left: 550px
}
#title{
  width: 500px;
  position: relative;
  left: 450px;
}

#WickedPoster{
  position: relative;
  width: 1000px;
  margin: 50px;
  left: 210px;


}
#AnastasiaPoster{
  width: 510px;
  margin: 50px;
  position: relative;
  left: 100px;

}
p {
  text-align: center;
  color: lightCoral;
}
h1 {
  text-align: center;
  color: lightCoral;
}
